PATHS:
  RAW_DATA: 'D:/Documents/Data/covid-us-ml/raw/'               # Path to folder containing all raw data (COVID, NCOVID)
  NCOVID_DATA: 'D:/Documents/Data/covid-us-ml/raw/NCOVID'      # Path to non-COVID-19 raw data
  COVID_DATA: 'D:/Documents/Data/covid-us-ml/raw/COVID'        # Path to COVID-19 raw data
  PROCESSED_DATA: 'data/preprocessed/'
  TRAIN_SET: 'data/preprocessed/train_set.csv'
  VAL_SET: 'data/preprocessed/val_set.csv'
  TEST_SET: 'data/preprocessed/test_set.csv'
  TRAIN_ENCOUNTERS: 'data/preprocessed/train_encounters.csv'
  VAL_ENCOUNTERS: 'data/preprocessed/val_encounters.csv'
  TEST_ENCOUNTERS: 'data/preprocessed/test_encounters.csv'
  GEN_IMAGES: 'documents/generated_images/'
  LOGS: 'results\\logs\\'
  MODEL_WEIGHTS: 'results/models/'
  MODEL_TO_LOAD: 'results/models/model.h5'
  OUTPUT_CLASS_INDICES: './data/serializations/output_class_indices.pkl'
  BATCH_PREDS: 'results/predictions/'

DATA:
  IMG_DIM: [224, 224]
  VAL_SPLIT: 0.08
  TEST_SPLIT: 0.1
  CLASSES: ['NCOVID', 'COVID']                   # Classes for binary classification

TRAIN:
  MODEL_DEF: 'custom_resnet'                                # One of {'resnet50v2', 'custom_resnet'}
  CLASS_MULTIPLIER: [1.0, 1.0]                           # Class multiplier for classes
  EXPERIMENT_TYPE: 'single_train'                        # One of {'single_train'}
  BATCH_SIZE: 64
  EPOCHS: 100
  PATIENCE: 7
  METRIC_PREFERENCE: ['auc', 'recall', 'precision', 'loss']

NN:
  RESNET50V2:
    NODES_DENSE0: 128
    LR: 0.00005
    DROPOUT: 0.3
    L2_LAMBDA: 0.0001
  CUSTOM_RESNET:
    KERNEL_SIZE: (3,3)
    STRIDES: (1,1)
    INIT_FILTERS: 16
    FILTER_EXP_BASE: 3
    MAXPOOL_SIZE: (2,2)
    CONV_BLOCKS: 3
    NODES_DENSE0: 128
    LR: 0.0001
    OPTIMIZER: 'adam'
    DROPOUT: 0.4
    L2_LAMBDA: 0.0001

